*

{
    
    margin: 0;
    padding: 0;
     font-family:serif;
    
     box-sizing: border-box;
     
}  

html {
	height: 100%;
	/* max-height: 600px; */
	width: 1000px;
	background-color: hsla(200,40%,30%,.4);
	background-image:		
		url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
		url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
		url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
	background-repeat: repeat-x;
	background-position: 
		0 20%,
		0 100%,
		0 50%,
		0 100%,
		0 0;
	background-size: 
		2500px,
		800px,
		500px 200px,
		1000px,
		400px 260px;
	animation: 50s para infinite linear;
	}

@keyframes para {
	100% {
		background-position: 
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
	} 


   Container.h2
   {

        align-items: center;
      display: flex;

   }
  div.Container 
  {

             

     margin: auto;
     width: 60%;
     height: 60%;
     border: 3px solid #fff;
     padding: 10px;
     border-radius: 20px;
     margin-left: 45%;
     margin-top: 15%;
   
  }
      
    h2
  {
     
     background-image: url("https://i.postimg.cc/13J7h2HL/pexels-maximilian-oeverhaus-7340239.jpg");
      display:flex;
      margin: auto;
      padding: 10px;
      text-align: center;
       justify-content: center;
       border-radius: 20px;
      font-family: 'Nova Flat';font-size: 22px;
      font-size: xx-large;
      position: relative;
      
  } 
    .form
    {

          background-image: url("https://i.postimg.cc/13J7h2HL/pexels-maximilian-oeverhaus-7340239.jpg");
           margin: auto;
           width: 90%;
           height: 82%;
           display: inline-block;
          image-resolution: 10%;
            margin-top: 15px;
            margin-left: 29px;
           padding: 10px;
           border-radius: 20px;
            
          

    }
    .form-control
    {

        display: flex;
        margin-top: 25px;
        font-size: 18px;
        font-style: italic;
        border-radius: 20px;
        position: relative;
          
    }
    .form-control label
    {
        display: inline-block;
        margin-bottom: 5px;

    }
    .form-control input
    {

       padding: 10px;
       font-size: medium;

    }
    .form-control.success input
    {
      border-color: chartreuse;

    }
    .form-control.error input
    {

      border-color:red;
    }
   .form-control.success i.fa-check-circle
   {
       color: chartreuse;
      visibility: visible;
   }
   .form-control.error i.fa-exclamation-circle
   {
         color: red;
         visibility: visible;
   }
    .form-control i
    {
    
      position: absolute;
      top: 25px;
      right: 50px;
      display: flex;
      visibility: hidden;
    }
    .form-control small
    {
      position: absolute;
      top: 40px;
      right: 70px;
      display: flex; 
      visibility: hidden;

    }
    .form-control.error small
    {
      color: rgba(240, 6, 6, 0.826);
      visibility: visible;
    }
  

    #username
    {

          border-radius: 20px;
          background-color: #fff;
          margin-left: 115px;   
         
    }
    #email
    {

      border-radius: 20px;
      background-color: #fff;
      margin-left: 145px;
    }
    #password
    {
      border-radius: 20px;
      background-color: #fff;
      margin-left: 120px;
    }

    #password2
    {

      border-radius: 20px;
      background-color: #fff;
      margin-left: 20px;

    }
    button
    {
         background-color: #CCE5F7;
         align-content: center;
         margin: auto;
         display: flex;
         margin-top: 15px;
         border-color: #CCE5F7;
         border-radius: 15px;
         background-image: url();
         width: 12%;
         padding: 5px;
       
      
       font-family:serif;

    }